html,body{
    height: 100%;
    width: 100%;
}

.login-container{
    height: 100%;
    width: 100%;
    display: grid;

}

.login-container form {
    align-self: center;
    justify-self: center;
}

.login-container form div {
    margin-bottom: 10px;
}